html, body {
  margin: 0;
  padding: 0;
  /* background: #876e91; */
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(-45deg, #876e91, #9b667a, #7d949c, #82ada3);
	background-size: 400% 400%;
  animation: gradient 60s ease infinite;

}

.flip-entry-thumb img {
  box-shadow: none !important;
}
.flip-grid-view .flip-entry {
  width: 300px;
}
.flip-entries {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}
.flip-entry-thumb img {
  -moz-box-shadow: none;
  box-shadow: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


canvas {
  display: block;

}
.tab {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.tab button {
width: 100%;
font-size: 29px;
padding: 11px;
  /* font-family: 'Gudea', sans-serif; */
  font-family: 'Fredoka One', cursive;
  background-color: inherit;
  float: left;
  border-top: 4px dotted #4CAF50;
  border-left: 4px dotted sandybrown;
  border-bottom: 4px dotted #f4e860;
  border-right: 4px solid #94c367;
  outline: none;
  cursor: pointer;
 
  transition: 0.3s;
  color: #6500ee;
  position: relative;
  margin: 30px 20px;
}
.tab button:hover {
  color: yellow;
}
.tab button.active {
  color: yellow;
  background-color: #ecbcbc;
}
.tab button.active::after {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: 86px;
}

.tabcontent {
  display: none;
  padding: 6px 12px; 
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
a {
  color: #6500ee;
  text-decoration: none;
    border-bottom: 1px dotted;
}
ul {
  margin-top: 5px;
  margin-bottom: 60px;
}
li {
  padding: 5px 0;
}
a:hover {
  background: yellow;
}
#propos , #ref, #process, #micro{ 
  margin: 0 200px;
}
.propos-container, .process-container, .micro-container, .ref-container{
  display: flex;
  justify-content: center;
  margin: 40px auto 100px auto;
  margin-bottom: 100px;
  font-size: 22px;
  max-width: 600px;
  color: #fafafa;
}

.micro-content, .process-content  {
  color: #fafafa;
}
.micro-content {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
  font-weight: normal;
  font-size: 29px;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.6px;
   
}

/* ::-webkit-scrollbar {
  width: 30px;
  background-color: pink;
} */

.heure {
  color: #fafafa;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
}
.date{
  color: #fafafa;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
}
.footnote {
  font-size: 15px;
}

#micro {
  height: 94vh;
}


#monbouton {
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  border-bottom: none;
}
#monbouton:hover {
  background: transparent;
}


.fleche {
  padding-top: 30px;
width: 200px;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
}
.fleche:hover {
  transform: rotate(360deg) scale(1.5);
}

@media only screen and (max-width: 900px) {
  .tab {
    flex-direction: column;
  }
  .tab button {
    margin:0;
    font-size: 33px;
  }
  #propos, #ref, #process, #micro {
    margin: 60px 20px;
  }
  .propos-container, .process-container, .micro-container, .ref-container {
    margin: auto;
    max-width: none;
    font-size: 24px;

  }
  .heure , .date {
    font-size: 17px;
  }
.heure {
  bottom: 30px;
}
.date {
  bottom: 10px;
}
}

