html, body {
  margin: 0;
  padding: 0;
  background: #876e91;
font-size: 20px;
  /* font-family: 'Gudea', sans-serif; */
  /* font-family: 'Abhaya Libre', serif; */
font-family: Arial, Helvetica, sans-serif;
/* font-family: 'Times New Roman', Times, serif; */
  /* color: white; */

}
canvas {
  display: block;

}
.tab {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.tab button {
width: 100%;
font-size: 29px;
padding: 11px;
  /* font-family: 'Gudea', sans-serif; */
  font-family: 'Fredoka One', cursive;
  background-color: inherit;
  float: left;
  border-top: 4px dotted #4CAF50;
  border-left: 4px dotted sandybrown;
  border-bottom: 4px dotted #f4e860;
  border-right: 4px solid #94c367;
  outline: none;
  cursor: pointer;
 
  transition: 0.3s;
  color: #6500ee;
  position: relative;
  margin: 30px 20px;
}
.tab button:hover {
  color: yellow;
}
.tab button.active {
  color: yellow;
  background-color: #ecbcbc;
}
.tab button.active::after {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: 86px;
}

.tabcontent {
  display: none;
  padding: 6px 12px; 
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
a {
  color: #6500ee;
  text-decoration: none;
    border-bottom: 1px dotted;
}
ul {
  margin-top: 5px;
  margin-bottom: 60px;
}
li {
  padding: 5px 0;
}
a:hover {
  background: yellow;
}
#propos , #ref, #process, #micro{ 
  margin: 0 200px;
}
.propos-container, .process-container, .micro-container, .ref-container{
  display: flex;
  justify-content: center;
  margin: 40px auto 100px auto;
  margin-bottom: 100px;
  font-size: 22px;
  max-width: 600px;
  color: #fafafa;
}

.micro-content, .process-content  {
  color: #fafafa;
}

h2 {
  font-weight: normal;
  font-size: 29px;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.6px;
   
}

/* ::-webkit-scrollbar {
  width: 30px;
  background-color: pink;
} */

.heure {
  color: #fafafa;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
}
.date{
  color: #fafafa;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
}
.footnote {
  font-size: 15px;
}



@media only screen and (max-width: 900px) {
  .tab {
    flex-direction: column;
  }
  .tab button {
    margin:0;
    font-size: 33px;
  }
  #propos, #ref, #process, #micro {
    margin: 60px 20px;
  }
  .propos-container, .process-container, .micro-container, .ref-container {
    margin: auto;
    max-width: none;
    font-size: 24px;

  }
  .heure , .date {
    font-size: 17px;
  }
.heure {
  bottom: 30px;
}
.date {
  bottom: 10px;
}
}

